<p>
  <mat-toolbar color="primary">
    <span>E-commerce App</span>
    <span class="example-spacer"></span>
    <button style="padding-right: 40px;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon  matBadge="15" MatBadgeSize="large" matBadgeColor="warn">shopping_cart</mat-icon>
      <!-- <span class="material-icons-outlined">
        shopping_cart
        </span> -->
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">

     <mat-icon > logout</mat-icon>
      <!-- <span class="material-icons-two-tone">
        logout
        </span> -->
    </button>
  </mat-toolbar>
</p>

