// mat-card {
//   height: 400px;
//   width: 15rem;
// }

// .mat-card-image {
//     width: 200px;
//     height: 200px;
//     object-fit: contain;
//     // margin: 0 -16px 16px -16px;
// }
.main {
  height: 87vh;
}
.filter {
  display: grid;
  grid-template-columns: 200px 1fr 400px;
  align-items: center;
  height: 8vh;
}
.container_1 {
  height: 74vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-x: auto;
  scrollbar-width: none;
  // align-items: stretch;
  // padding-top: 5px;
  padding: 20px;
  // margin-bottom: 20px;
  // max-width: 1024px;
  // justify-items: flex-start;
  flex: 0 1 auto;
  // padding-bottom: 30px;
// display: grid;
// padding: 10px;
// grid-gap: 10px;
// grid-template-columns: 320px 320px 320px 320px;
// grid-template-rows: auto;
  // width: auto;
  // max-width: 700px;
  // justify-content: space-evenly;
}

mat-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 320px;
  // margin: 15px;
  height: 460px;
  text-align: center;

}
img {
  // margin: 5px;
  width: 200px;
  height: 200px;
  padding-bottom: 20px;
}
mat-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
// .list_chip {
//   overflow-x: auto;
// }


.mat-form-field-infix {
  width: 200px;
}
.my-chip .mat-chip-selected {
  cursor: pointer;
  background-color: #000 !important;
  color: #fff;
}
.my-chip:active .mat-chip-selected:active {
  cursor: pointer;
  background-color: rgb(248, 185, 11) !important;
  color: rgb(8, 8, 8);
}
