.header {
height: 8vh;
}
 .footer{
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(221, 250, 240);
}

.main-content{
  height: 87vh;
  // display: grid;
  // grid-template-columns: 210px 210px 210px 210px 210px;
  // grid-template-rows: 5rem;
  // display: flex;
  // flex-direction: row;
  // justify-items: flex-start;
  // width: 80%;
}
