.header {
height: 8vh;
}
 .footer{
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(221, 250, 240);
}

.main-content{
  height: 87vh;
  overflow: hidden;
}
